<%- include("partials/header"); -%>


    <h1>Home</h1>
    <div>
        <div style="display:inline; white-space:nowrap;"> 
            <b>
                <%= temp %>°C
            </b>
        </div>
        <div style="display:inline;">
            <img src=<%= imageURL %>/>
        </div>

        <div style="display:inline; white-space:nowrap;"> 
            <b>
                <%= weatherDescription %>
            </b>
        </div>
        <p><%= startingContent %></p>
    </div>
    <div>
        <% for ( let post of posts ){ %>
            <div>
                <h3><%= post.title %></h3>
                <p><%= post.content.substring(0, 100) + "... " %><a style="text-decoration: none" href=<%= "/posts/" + post.title %> >Read More</a></p>
            </div>
        <% } %>
    </div>


<%- include("partials/footer"); -%>